In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

### The ‘re’ package provides multiple methods to perform queries on an input string. Here are the most commonly used methods, I will discuss:

re.match() <br>
re.search() <br>
re.findall() <br>
re.split() <br>
re.sub() <br>
re.compile() <br>
Let’s look at them one by one.

In [2]:
import re

# re.match()

This method finds match if it occurs at start of the string. For example, calling match() on the string ‘AV Analytics AV’ and looking for <br> a pattern ‘AV’ will match. However, if we look for only Analytics, the pattern will not match. Let’s perform it in python now.

In [3]:
# matching AV in the given sentence 
result = re.match(r'RE', 'RE Regular Expression RE')
print(result)

<_sre.SRE_Match object; span=(0, 2), match='RE'>

In [4]:
# printing the matching string
result = re.match(r'RE', 'RE Regular Expression RE')
print ('\nMatching string :',result.group(0))

Matching string : RE

In [5]:
# matching Analytics in the given sentence
result = re.match(r'Regular', 'RE Regular Expression RE')
print ('\nResult :', result)

Result : None

In [6]:
result = re.match(r'RE', 'RE Regular Expression RE')
print ('\nStarting position of the match :',result.start())
print ('Ending position of the match :',result.end())

Starting position of the match : 0
Ending position of the match : 2

# re.search()
It is similar to match() but it doesn’t restrict us to find matches at the beginning of the string only. Unlike previous method, here <br> searching for pattern ‘Analytics’ will return a match.

In [7]:
result = re.search(r'Regular', 'RE Regular Expression RE')
print(result.group(0))

Regular

# re.findall (pattern, string)
It helps to get a list of all matching patterns. It has no constraints of searching from start or end. If we will use method findall to <br>search ‘AV’ in given string it will return both occurrence of AV. While searching a string, I would recommend you to use re.findall()<br> always, it can work like re.search() and re.match() both.

In [8]:
result = re.findall(r'RE', 'RE Regular Expression RE')
print (result)

['RE', 'RE']

# re.split(pattern, string, [maxsplit=0]):
This methods helps to split string by the occurrences of given pattern.

In [9]:
result=re.split(r's','Datascience')
print(result)

['Data', 'cience']

In [10]:
result=re.split(r'e','Datascience Academey')
print( result)

['Datasci', 'nc', ' Acad', 'm', 'y']

In [11]:
result=re.split(r'e','Datascience Academey', maxsplit=1)
print( result)

['Datasci', 'nce Academey']

# re.sub(pattern, repl, string):
It helps to search a pattern and replace with a new sub string. If the pattern is not found, string is returned unchanged.

In [12]:
result=re.sub('India','World','This is map of India')
result

'This is map of World'

# re.compile(pattern, repl, string):
We can combine a regular expression pattern into pattern objects, which can be used for pattern matching. It also helps to search a pattern again without rewriting it.

In [13]:
pattern=re.compile('FT')
result=pattern.findall('FT Football Fever FT')
print (result)
result2=pattern.findall('FT Football Fever ALL Over The World')
print (result2)

['FT', 'FT']
['FT']

### Return the first word of a given string

In [14]:
result=re.findall('.','FT Football Fever ALL Over The World')
print (result)

['F', 'T', ' ', 'F', 'o', 'o', 't', 'b', 'a', 'l', 'l', ' ', 'F', 'e', 'v', 'e', 'r', ' ', 'A', 'L', 'L', ' ', 'O', 'v', 'e', 'r', ' ', 'T', 'h', 'e', ' ', 'W', 'o', 'r', 'l', 'd']

In [15]:
result=re.findall('\w','FT Football Fever ALL Over The World')
print (result)

['F', 'T', 'F', 'o', 'o', 't', 'b', 'a', 'l', 'l', 'F', 'e', 'v', 'e', 'r', 'A', 'L', 'L', 'O', 'v', 'e', 'r', 'T', 'h', 'e', 'W', 'o', 'r', 'l', 'd']

In [16]:
result=re.findall('\w*','FT Football Fever ALL Over The World')
print (result)

['FT', '', 'Football', '', 'Fever', '', 'ALL', '', 'Over', '', 'The', '', 'World', '']

Again, it is returning space as a word because “*” returns zero or more matches of pattern to its left. Now to remove spaces we will go with “+“.

In [17]:
result=re.findall('\w+','FT Football Fever ALL Over The World')
print (result)

['FT', 'Football', 'Fever', 'ALL', 'Over', 'The', 'World']

In [18]:
result=re.findall('^\w+','FT Football Fever ALL Over The World')
print (result)

['FT']

In [19]:
result=re.findall('\w+$','FT Football Fever ALL Over The World')
print (result)

['World']

# Return the first two character of each word

In [20]:
result=re.findall('\w\w','FT Football Fever ALL Over The World')
print (result)

['FT', 'Fo', 'ot', 'ba', 'll', 'Fe', 've', 'AL', 'Ov', 'er', 'Th', 'Wo', 'rl']

In [21]:
result=re.findall(r'\b\w.','FT Football Fever ALL Over The World')
print (result)

['FT', 'Fo', 'Fe', 'AL', 'Ov', 'Th', 'Wo']

# Return the domain type of given email-ids

In [22]:
result=re.findall(r'@\w+','abc.test@gmail.com, xyz@test.in, test.first@analytics.com, first.test@rest.biz') 
print (result)

['@gmail', '@test', '@analytics', '@rest']

In [23]:
result=re.findall(r'@\w+.\w+','abc.test@gmail.com, xyz@test.in, test.first@analytics.com, first.test@rest.biz')
print (result)

['@gmail.com', '@test.in', '@analytics.com', '@rest.biz']

In [24]:
result=re.findall(r'@\w+.(\w+)','abc.test@gmail.com, xyz@test.in, test.first@analytics.com, first.test@rest.biz')
print (result)

['com', 'in', 'com', 'biz']

# Return date from given string
Here we will use “\d” to extract digit.

In [25]:
result=re.findall(r'\d{2}-\d{2}-\d{4}','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['12-05-2007', '11-11-2011', '12-01-2009']

In [26]:
result=re.findall(r'\d{2}-\d{2}-(\d{4})','Amit 34-3456 12-05-2007, XYZ 56-4532 11-11-2011, ABC 67-8945 12-01-2009')
print (result)

['2007', '2011', '2009']

# Return all words of a string those starts with vowel

In [27]:
result=re.findall(r'\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'largest', 'Analytics', 'community', 'of', 'India']

In [28]:
result=re.findall(r'[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'argest', 'Analytics', 'ommunity', 'of', 'India']

In [29]:
result=re.findall(r'\b[aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

['AV', 'is', 'Analytics', 'of', 'India']

In [30]:
result=re.findall(r'[^aeiouAEIOU]\w+','AV is largest Analytics community of India')
print (result)

[' is', ' largest', ' Analytics', ' community', ' of', ' India']

In [31]:
result=re.findall(r'\b[^aeiouAEIOU ]\w+','AV is largest Analytics community of India')
print (result)

['largest', 'community']

# Validate a phone number (phone number must be of 10 digits and starts with 8 or 9)

In [32]:
li=['9999999999','999999-999','99999x9999']
for val in li:
     if re.match(r'[8-9]{1}[0-9]{9}',val) and len(val) == 10:
        print ('yes')
     else:
         print ('no')

yes
no
no

# Split a string with multiple delimiters

In [33]:
line = 'asdf fjdk;afed,fjek,asdf,foo' # String has multiple delimiters (";",","," ").
result= re.split(r'[;,\s]', line)
print(result)

['asdf', 'fjdk', 'afed', 'fjek', 'asdf', 'foo']

We can also use method re.sub() to replace these multiple delimiters with one as space ” “.

In [34]:
line = 'asdf fjdk;afed,fjek,asdf,foo' # String has multiple delimiters (";",","," ").
result= re.sub(r'[;,\s]',' ', line)
print(result)

asdf fjdk afed fjek asdf foo

# Retrieve Information from HTML file

In [35]:
str="<tr align=center><td>1</td> <td>Noah</td> <td>Emma</td></tr> \
<tr align=center><td>2</td> <td>Liam</td> <td>Olivia</td></tr>\
<tr align=center><td>3</td> <td>Mason</td> <td>Sophia</td></tr> \
<tr align=center><td>4</td> <td>Jacob</td> <td>Isabella</td></tr> \
<tr align=center><td>5</td> <td>William</td> <td>Ava</td></tr> \
<tr align=center><td>6</td> <td>Ethan</td> <td>Mia</td></tr> \
<tr align=center><td>7</td> <td HTML>Michael</td> <td>Emily</td></tr>"

In [36]:
result=re.findall(r'<td>\w+</td>\s<td>(\w+)</td>\s<td>(\w+)</td>',str)
print (result)

[('Noah', 'Emma'), ('Liam', 'Olivia'), ('Mason', 'Sophia'), ('Jacob', 'Isabella'), ('William', 'Ava'), ('Ethan', 'Mia')]

# Please upvote it, if it was useful for you.